<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HER_meds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
   
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body class="d-flex text-center text-white bg-dark">
<div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">
    

    <header class="mb-auto">
        <br> <br> <br>  
    </header>

 

    <main class="float-sm-left mb-1">
            <h1>EOI for Supply of Essential Medicines to Provinces</h1>
        
            
            <h4 style="padding-bottom: 1em">Afghanistan Health Emergency Response (HER) Project</h4>
            <p style="font-size: 1.1vw"></pstyle>The overall objective of the Afghanistan Health Emergency Response (HER) project is to increase the utilization and quality of essential health services, including the Basic Package of Health Services (BPHS), Essential Package of Hospital Services (EPHS), community- and facility-based nutrition services, and COVID-19 prevention and response interventions, in Afghanistan</p>
            


            <a class="nav-link1" style="color: rgb(242, 247, 247); font-size: 1.5vw" href="/products">Product List</a>
            <a class="nav-link2" style="color: rgb(247, 245, 242); font-size: 1.5vw" href="/expressions">EOI List</a>
            <br> <br> <br><br> <br>
            <h5 style="font-size: 1.5vw" class="float">Implemented by UNICEF Afghanistan</h5>
            <h6 style="font-size: 1.5vw" class="float">   Supported by World Bank and ADB</h6>   
            

    </main>
        
        
 
        
        
        
        
        
        
        
        
        <footer class="mt-auto text-white">
            <p style="font-size: 12px">&copy; 2023 (pv)</p>
        </footer>


</div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>