<% layout('layouts/boilerplate')%>
    




<div class="container d-flex justify-content-center align-items-center mt-5"></div>

<div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shadow">
            <img src="/images/pic1.png"
                alt="" class="card-img-top" />
            <div class="card-body">


                <h5 class="card-title">Register</h5>


    <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-1">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-1">
            <label class="form-label" for="company">Company</label>
            <input class="form-control" type="company" id="company" name="company" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-1">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-1">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-1">
            <label class="form-label" for="QACode">QA Code</label>
            <input class="form-control" type="text" id="QACode" name="QACode">
        </div>
        <div class="mb-1">
            <label class="form-label" for="adminCode">Admin Code</label>
            <input class="form-control" type="text" id="adminCode" name="adminCode">
        </div>
<br>
        <button class="btn btn-success">Register</button>
    </form>

</div>
</div>
</div>
</div>






    <br>
    <hr>
    <a style="color:rgb(1, 61, 242)" href="/">Home</a>